/*
	Colors: http://msdn.microsoft.com/library/default.asp?url=/workshop/author/dhtml/reference/colors/colors.asp
	CSS Attributes: http://msdn.microsoft.com/library/default.asp?url=/workshop/author/dhtml/reference/dhtml_reference_entry.asp
	http://www.thecodeproject.com/html/CSSTrcicks.asp
	Filer: http://msdn.microsoft.com/library/default.asp?url=/workshop/author/filter/filters_transitions_entry.asp
*/

A, A:link{
	color: #316AC5;
	text-decoration: none;
}

A:visited{
	font-weight: lighter;
}

A:hover{
	text-decoration: underline;
}

A:active{
	color: #C1D2EE;
	text-decoration: none;
}

BODY{
	font: 11px Arial;
	scrollbar-3dlight-color: #545454;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-darkshadow-color: #545454;
	scrollbar-face-color: #545454;
	scrollbar-shadow-color: #EEEEEE;
	scrollbar-track-color: #DCDCDC;
	/*cursor: 'wait';*/
	background: url(../../data/pics/bg_tools.gif) no-repeat fixed center;
	border:0;
	margin:0;
	padding:0;
}

LI.cCircle{
	list-style-type: circle;
	border-bottom-style: dashed;
	border-width: 2px;
}

LI.cSquare {
	list-style-type: square;
	background-color: #EEEEEE;
	color: #000000;
}

TD, TH, CAPTION{
	font: 11px Arial;
	padding: 0px;
}

TD SELECT{
	background-color: #EEEEEE;
	border: 1px solid #000000;
	color: #000000;
	font: 11px Arial;
}

TD TEXTAREA{
	background: transparent;
	border: 1px solid #000000;
	font: 11px Arial;
	overflow: auto;
}

TD INPUT{
	background-color: #EEEEEE;
	border-color: #545454;
	border-style: solid;
	border-width:1px;
	color: #000000;
	font: 11px Arial;
	margin: 0;
	padding: 1px 1px 0 1px;
}

optgroup {
	font-weight: normal;
}

.cButton1{
	background-color: white;
	margin: 2px;
	padding: 1px;
}

.cButton2{
	background-color: white;
	padding: 0px;
}

.cInput1{
	border-color: #316AC5;
	/*border-color: #E9967A;*/
	/*color: coral;*/
	color: #316AC5;
	border-style:solid;
	border-width: 2px 1px 1px 1px;
	margin: 2px 2px 2px 0;
	font-weight: normal;
	width: 100px;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#C1D2EE', EndColorStr='#FFFFFF');
	/*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E9967A', EndColorStr='#FFFFFF');*/
}                    

.cInput2, .cInput5{
	border-style:solid;
	border-width: 2px 1px 1px 1px;
	margin: 2px 2px 2px 0;
	width: 100px;	
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#545454', EndColorStr='#FFFFFF');
}

.cInput3{
	padding-right: 2px;
	width: 100px;
}

.cInput4{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	margin: 0;
	background: transparent;
	padding: 0 2px 0 2px;
	width: 100%;
	font: normal 11px Arial;
}

.cInput6{
	border-style:inset;
	border-width:1px;
	border-color: #ECE9D8;
	margin: 3px 0 3px 2px;
	background-color: transparent;
	padding: 1px 1px 1px 2px;
	width: 65px;
	font: normal 10px Arial;
	text-align:center;
}

.cInput7{
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	margin: 0;
	background: transparent;	
	padding: 0 2px 0 2px;
	font: normal 11px Arial;
}

.cInput8{
	border-style:solid;
	border-width: 2px 1px 1px 1px;
	border-color: #E9967A;
	margin: 2px 2px 2px 0;
	width: 100px;
	color: #FF0000;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#E9967A', EndColorStr='#FFFFFF');
}

.cDiv1{
	border-color: #000000;
	/*border-color: #E9967A;*/
	/*color: coral;*/
	border-style:solid;
	border-width: 1px;
	margin: 0px;
	background-color: #316AC5;
	font-weight: normal;
	width: 100px;
	height:100%;
}

.cTable1{
	border: 1px solid black;
	position: relative;
	margin: 0 5px 0 5px;
	z-index: 10;
}

.cTable1 TR {
	vertical-align: top;
}

.cTable1 TH{
	text-align: 'center';
	background-color: #DCDCDC;
	padding: 2px;
}

.cTable2 TH{
	text-align: 'left';
	background-color: #DCDCDC;
	padding: 2px;
	font-style: italic;
}

.cTable1 TD{
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #000000;
	padding: 2px;
}

.cTable1TD{
	font: normal 11px Tahoma;
	background: url(../../data/pics/pmt_bg_line.gif) repeat fixed center;
}

.cTable1TROver{
	background: url(../../data/pics/pmt_bg_line.gif) repeat fixed center;
}

.cTable1TROut{
	background: none;
}

.cTable3{
	border: 1px solid silver;
	margin:2px 0 2px 0;
}

.cAbout1{
	font-size:32px;
	font-family:Tahoma;
	color:#8A867A;
	font-weight:bold;
	background-color:#ECE9D8;
	padding:5px 0 5px 5px;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#ECE9D8", EndColorStr="#EEEEEE");
}

.cHead2{
	background: #DCDCDC;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 0 2px;
}

.cHead3{
	color: #EEEEEE;
	font: normal 10px Arial;
	text-transform: uppercase;
}

.cHead4, TR.cHead4 TD{
	background-color: #DCDCDC;
	color: #000000;
	padding: 1px 0 1px 3px;
	text-transform: lowercase;
	font: bold 11px Arial;
}

.cHead5{
	background-color : #DCDCDC;
	text-transform : capitalize;
	color: #545454;
	font-weight: bold;
}

.cMenu3{
	position:relative;
	background-color: #E4E4E4;
	/*border: 1px solid #E4E4E4;*/
	margin: 1px 0 1px 0;
	padding: 2px 0 5px 2px;
	position: relative;
	color: #808080;
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	text-align:left;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E4E4E4', EndColorStr='#FFFFFF');
}

.cMenu4{
	position: relative;
	left: 0;
	top: 0;	
	height: auto;
	width: 100%;
	margin: 3px 0 3px 0;
	visibility: hidden;
	display: none;
}

.cMenu5{
	position:relative;
	width: auto;
	visibility: visible;
	display: block;
}

.cSpan2{
	font-size:7px;
	width:100%;
}

.cRadio, .cCheckbox{
	background: transparent;
	border-width: 0;
	margin: 0;
	padding: 0;
}

.cTitle1Foot{
	background: #C0C0C0;
	color: #F0FFFF;
	font: small-caps bold 13px Tahoma;
	height: 20px;
	padding: 3px 0 3px 0;
	text-align: center;
	width: 100%;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#545454');
}

.cTitle1{
	background: #C0C0C0;
	color: #F0FFFF;
	font: small-caps bold 13px Tahoma;
	height: 20px;
	padding: 3px 0 3px 0;
	text-align: center;
	width: 100%;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#545454', EndColorStr='#FFFFFF');
}

.cTitle2, .cTitle3{
	background: #545454;
	color: #F0FFFF;
	font: bold 13px Tahoma;
	padding: 2px;
	text-align: left;
	width: 100%;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#545454', EndColorStr='#FFFFFF');
}

.cTitle2Text{
	color: #F0FFFF;
	font: bold 13px Tahoma;
	padding: 2px;
	text-align: left;
}

.cTitleInfo{
	color: coral;
	font-family: tahoma;
	font-size: 11;
	background: url(../../data/pics/pmt_bg_square.gif) repeat fixed center;
	padding: 5px 0 5px 0;
}

.cSmall{
	font-size:10px;
}

.cNote{
	width: 100%;
	color:#316AC5;
	font-style: italic;
}

.cNote2{
	width: 100%;
	color:#316AC5;
	border-bottom-style: dashed;
	border-width: 2px;
	border-color: inherit;
}

.cFieldset1{
	position: relative;
	left: 0;
	top: 0;
	border-color : #808080;
	border-style : solid;
	border-width : 8px 1px 1px 1p;
	padding : 0 0 5px 0;
	height: auto;
	width : 100%;
	font: 10px Tahoma;
}

.cFieldset2{
	position: relative;
	border-color : #808080;
	border-style : solid;
	border-width : 1px;
	padding:0 0 0 10px;
	width : 100%;
	padding: 10px;
	margin: 5px;
	font: 11px Arial;
}

.cLegend1{
	color: #316AC5;
	text-align: center;
}

.cLegend2{
	color: #316AC5;
	text-align: left;
	text-transform:uppercase;
	font: 10px Tahoma;
}

.cSpace20{
	padding-left: 20px;
}

.cSpace18{
	padding-left: 18px;
}

.cSpace10{
	padding-left: 10px;
}

#oDivMenuInfo{
	background-color: #C1D2EE;
	color: #316AC5;
	font: 11px Tahoma;
	padding: 2px;
	text-align: center;
	border-width: 1px 0 2px 0;
	border-style: solid;
	border-color: #316AC5;
	margin-top:4px;
	width: 100%;
	position:relative;
	height:100%;
}
	
#oDivBody{
	display: block;
	position: relative;
	overflow: auto;
	left: 0;
	top: 0;	
	height:100% ;
	width: 100%;
	padding: 0 3px 0 3px;
}

#oDivLog, #oDivDebug{
	display: none;
	position: relative;
	left: 0;
	top: 0;	
	height: auto;
	width: 100%;	
	margin: 3px 0 0 0;
	layout-grid-mode: line;
	z-index:14;
}

#oDivHome{
	display: none;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	margin: 3px 0 0 0;
	z-index:14;
}

#oDivMenu{
	margin: 0 0 10px 0;
}

#oDivMenu, #oDivHead, #oDivFoot, #oDivAction {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	width: auto;
	z-index:14;
}

#oDivLogResult{
	overflow: auto;
	width: 100%;
	height: 120px;
	display: none;
}

#oDivLogError{
	overflow: auto;
	width: 100%;
	height: 60px;
	display: none;
}


.cMenuPop {
	background-color: #FFFFFF;
	background-image: url(../../config/theme/officexp/office_xp_menu_left.png);
	background-repeat: repeat-y;
	border: 1px solid #8A867A;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 1px;
	position: absolute;
	visibility: hidden;
	display: none;
	z-index: 90;
}

.cMenuTable{

}

.cMenuTable TD{
	padding: 1px;
	margin: 0;
	border: 0;
	color: #000000;
	font-size: 12px;
	font-family:  Arial, Tahoma, Helvetica, sans, sans-serif;
}

.cMenuItemOver{
	background-color: #C1D2EE;
	border: 1px solid #316AC5;
	color: #000000;
	margin: 1px;
}

.cMenuItemOut{
	background-color: #EEEEEE;
	border: none;
	color: #000000;	
}
